.guide-header {
  background-color: #c59494;
}

.guide-background {
  background-image: url(/public/backgrounds/guideBackground.svg);
  height: 3850px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

@media screen and (min-width: 1552px) {
  .guide-background {
    height: 3400px;
  }
}

@media screen and (min-width: 1920px) {
  .guide-background {
    height: 3760px;
  }
}

.content1 {
  padding-top: 56%;
  padding-left: 95%;
}

.content2 {
  padding-top: 15%;
  padding-left: 95%;
}

.content3 {
  padding-top: 15%;
  padding-left: 95%;
}

.to-content {
  position: fixed;
  bottom: 5%;
  right: 4%;
}
