.guide-header {
  background-color: #c59494;
}

.guide-background1 {
  background-image: url(/public/backgrounds/guideBackground/guideBackground1.png);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.rabbits {
  padding-top: 11%;
  padding-left: 2.5%;
}

.contents {
  padding-left: 3%;
}

.content1 {
  padding-top: 50%;
}

.content2 {
  padding-top: 15%;
}

.content3 {
  padding-top: 15%;
}

.text-content {
  font-family: "NanumGothic";
  font-size: 80px;
  padding-top: 10%;
  padding-left: 17%;
}

.guide-background2 {
  background-image: url(/public/backgrounds/guideBackground/guideBackground2.png);
  height: 3100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.explains {
  padding-top: 8%;
  padding-left: 18%;
}

.to-content {
  position: fixed;
  bottom: 5%;
  right: 4%;
}

@media screen and (max-width: 1440px) {
  .rabbits {
    padding-top: 11.5%;
  }
  .content1 {
    padding-top: 48%;
  }
  .text-content {
    padding-top: 11%;
    padding-left: 11%;
  }
}

@media screen and (min-width: 1552px) {
  .rabbits {
    padding-top: 9.5%;
  }
  .content1 {
    padding-top: 48%;
  }
  .text-content {
    padding-top: 9%;
    padding-left: 19%;
  }
}

@media screen and (min-width: 1920px) {
  .guide-background1 {
    height: 700px;
  }
  .rabbits {
    padding-top: 11%;
    padding-left: 6%;
  }
  .content1 {
    padding-top: 60%;
  }
  .text-content {
    padding-top: 10.5%;
    padding-left: 20.2%;
  }
  .explains {
    padding-left: 23%;
  }
}
