.main-header {
  background-color: #292637;
}

.main-background {
  background-image: url(/public/backgrounds/mainBackground.svg);
  height: 920px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (min-width: 1708px) {
  .main-background {
    height: 1000px;
  }
}

@media screen and (min-width: 1920px) {
  .main-background {
    height: 1160px;
  }
}

.line1 {
  position: absolute;
  top: 208%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.line2 {
  position: absolute;
  top: 272%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
