.main-header {
  background-color: #292637;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.main-background {
  background-image: url(/public/backgrounds/mainBackground.png);
  height: 920px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (min-width: 1552px) {
  .main-background {
    height: 1000px;
  }
}

@media screen and (min-width: 1920px) {
  .main-background {
    height: 1150px;
  }
}

.line1 {
  position: absolute;
  top: 208%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.line2 {
  position: absolute;
  top: 272%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
